<package-def>
	<class name="СообщениеSlack" file="Классы/Message.os"/>
	<class name="ВложениеSlack" file="Классы/Attachment.os"/>
	<class name="ОтправительSlack" file="Классы/Sender.os"/>
	<class name="ТекстовыйОбъектSlack" file="Классы/blocks/composition/TextObject.os"/>
	<class name="СекцияSlack" file="Классы/blocks/Section.os"/>
	<module name="ОбщиеМетоды" file="Модули/ОбщиеМетоды.os" />
</package-def>